<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/meta') %> 
    <%- include('../../partials/favicons') %> 
    <title>ML</title>
</head>
<body>
    <h1>ML</h1>
    <ul>
        <li><a href="/ml/mnist">mnist</a></li>
    </ul>
    <!-- <script async defer src="/static/js/ml.js"></script> -->
</body>
</html>