<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/meta') %> 
    <%- include('../../partials/favicons') %> 
    <title>EA 8puzzle</title>
</head>
<body>
    <h1>Evolutional algorithm 8puzzle</h1>
    <h1>Work in progress...</h1>
    <!-- <script async defer src="/static/js/eightpuzzle.js"></script> -->
</body>
</html>