<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/meta') %> 
    <%- include('../../partials/favicons') %> 
    <title>Evolution</title>
</head>
<body>
    <h1>Evolution</h1>
    <ul>
        <li><a href="/evolution/traveling-salesman">Traveling salesman</a></li>
        <li><a href="/evolution/eight-puzzle">8puzzle</a></li>
    </ul>
    <!-- <script async defer src="/static/js/evolution.js"></script> -->
</body>
</html>