<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/meta') %> 
    <%- include('../../partials/favicons') %> 
    <title>EA TS</title>
</head>
<body>
    <h1>Evolutional algorithm traveling salesman!</h1>
    <script async defer src="/static/js/travelingsalesman.js"></script>
</body>
</html>