<!doctype html>
<html amp lang="en">
    <head>
        <%- include('../../partials/amp-meta') %> 
        <%- include('../../partials/favicons') %> 
        <title>Welcome</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <amp-img src="/static/images/logos/logo_arrow001.png" alt="logo" height="400" width="400" layout="responsive"></amp-img>
    </body>
</html>