<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/meta') %> 
    <%- include('../../partials/favicons') %> 
    <title>Games</title>
</head>
<body>
    <h1>Games</h1>
    <ul>
        <li><a href="/games/tictactoe">TicTacToe</a></li>
    </ul>
    <!-- <script async defer src="/static/js/games.js" ></script> -->
</body>
</html>