<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/meta') %> 
    <%- include('../../partials/favicons') %> 
    <title>TicTacToe</title>
</head>
<body>
    <h1>TicTacToe</h1>
    <!-- <script async defer src="/static/js/tictactoe.js" ></script> -->
</body>
</html>
