<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/meta') %> 
    <%- include('../../partials/favicons') %> 
    <title>Document</title>
</head>
<body>
    This is an amazing webpage!
    <p>Ask a yes or no question:</p>
    <form id="question-form">
        <input type="text" name="question" id="question-input" required />
        <input type="submit" value="ask" />
    </form>
    <div id="answers-div"></div>
    <script async defer src="/static/js/about.js" ></script>
</body>
</html>