<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/meta') %> 
    <%- include('../partials/favicons') %> 
    <title>About</title>
</head>
<body>
    This is an amazing webpage!
    <script async defer src="/static/js/about.js" ></script>
</body>
</html>