<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/meta') %> 
    <%- include('../partials/favicons') %> 
    <title>Welcome</title>
</head>
<body>
    <h1 class="headline">Welcome!</h1>
    <%= Math.random() %>
    <img src="/static/images/logos/logo_arrow001.png" alt="logo" class="animated-logo">
    <div class="sine"></div>
    <script async defer src="/static/js/index.js"></script>
</body>
</html>