<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/meta') %> 
    <%- include('../partials/favicons') %> 
    <title>Welcome</title>
</head>
<body>
    <h1>mnist</h1>
    <canvas id="canvas" width="256", height="256" style="background-color: blue;"></canvas>
    <button id="button-predict">predict</button>
    <button id="button-clear">clear</button>
    <p id="p-prediction"></p>
    <!-- <script async defer src="/static/js/mnist.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
    <script async defer src="/static/js/mnist.js"></script>
</body>
</html>