body {
    background-color: lightgray;
}

.animated-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
    animation-name: rotate-self;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.headline {
    text-align: center;
}

@keyframes rotate-self {
    100% {
        transform: rotate(360deg);
    }
}

.sine {
    width: 100%;
    height: 10em;
    margin: 0;
    background: url(/static/images/svgs/sine.svg);
    padding: 0;
	background-size: contain;
	background-position: 0 0;
    background-repeat: repeat-x;
    animation: move 20s infinite;
    box-sizing: border-box;
}

@keyframes move{
	0% {
		background-position: 0 0;
	}

	65% {
		background-position: 1000px 0;
    }

    100% {
        background-position: 0 0;
    }
}
