body {
    background-color: lightgray;
}

.animated-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
    animation-name: rotate-self;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.headline {
    text-align: center;
}

@keyframes rotate-self {
    100% {
        transform: rotate(360deg);
    }
}